.Courusel{
    background-color: black;
    margin: 0 10%;
    width: 80%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    .Courusel__content{
        width: 100%;
        height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .Courusel__element{
        height: 80%;
        width: 30%;
        max-width: 200px;
        background-color: rgb(144, 211, 20);
    }
    }

}