.calendar{
    min-height: 250px ;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: green;
    color: white;
    &__header{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__MonthMaster{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        align-items: center;
        width: 100%;
    }
    &__emptyDays-element{
        opacity: 0.3;
    }
    &__active-element{
        cursor: pointer;

    }
    .today{
        background-color: yellow;
        color: black;
        border-radius: 100%;
    }
    &__body{
        .calendar__weekDays{
            display: grid;
            grid-template-columns: repeat(7,1fr);
            justify-items: center;
            align-items: center;
        }
        .calendar__monthDays{
            display: grid;
            grid-template-columns: repeat(7,1fr);
            justify-items: center;
            align-items: center;
            .item{
                width: 1.75rem;
                height: 1.75rem;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
            }
        }
    }
}